body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.recentSearchContainer {
  width: 50%;
  margin: 10px auto 0px auto;
}

@media only screen and (max-width: 960px) { 
  .container {
    width: 98%;
    margin: 0 auto;
  }
  .recentSearchContainer{
    width: 98%;
    margin: 10px auto 0px auto;
  }
}